.bot_window{
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 155px;
}

.form_bot{
    margin-left: 100px;
    margin-top: 250px;
    height: 50px;
}

.text_bot{
    width: 350px;
    height: 25px;
}

.submit_bot{
    width:90px;
    height: 40px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    background-color: cadetblue;
    cursor: pointer;
}