.user_img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .user_img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile_section {
    margin-top: 50px;
  }
  
  .profile_section h3 {
    margin-bottom: 20px;
  }
  
  .profile_section p {
    margin-bottom: 10px;
  }
  