.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color:whitesmoke;
}

.footer_list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerlist_item{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_baselist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_baseitem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}